%p
  %table{:style => "width:100%"}
    %tr
      %td
        = pagination_links_remote @ordergroups, { :update => "ordergroups" }
      %td{:style => "text-align:right"}
        - if @total > 20
          = items_per_page :update => "ordergroups"
%table.list
  %thead
    %tr
      %th= t("g.name")
      %th= t("g.contact")
      %th= t("g.address")
      %th= t("g.members")
      %th
  %tbody
    - for ordergroup in @ordergroups
      %tr{:class => cycle('even','odd', :name => 'groups')}
        %td= link_to ordergroup.name, [:admin, ordergroup]
        %td= ordergroup.contact
        %td= link_to_gmaps ordergroup.contact_address
        %td= ordergroup.users.size
        %td
          = link_to image_tag('b_users.png', :size => '16x16',  :border => "0", :alt => t("admin.groups.edit_members") ), memberships_admin_ordergroup_path(ordergroup)
          = link_to(image_tag('b_edit.png', :size => "16x16", :border => "0", :alt => t("admin.ordergroups.edit_ordergroup") ), edit_admin_ordergroup_path(ordergroup))
          = link_to(image_tag('b_drop.png', :size => "16x16", :border => "0", :alt => t("admin.ordergroups.delete_ordergroup") ), [:admin, ordergroup], |
                         :confirm => t("admin.groups.start_delete_confirm")+ ' ' + ordergroup.name + ' ' + t("admin.groups.end_delete_confirm"), :method => :delete) |
