- title t("g.ordergroups")

%p
  %i
    =t("admin.ordergroups.here_you_can")
    =link_to t("admin.ordergroups.create_new_ordergroups"), new_admin_ordergroup_path
    =t("admin.ordergroups.edit_and_delete_groups")

    
%p
  =t("admin.ordergroups.please_note_the")
  %em=t("admin.ordergroups.difference_between_working_groups_and_order_groups")
  =t("admin.ordergroups.difference_between_groups_explanation_start")
  %em= link_to t("g.workgroup"), admin_workgroups_path
  = t("admin.ordergroups.eg_sorting_group")
  = t("admin.ordergroups.difference_between_groups_explanation_end")
.left_column{:style => "width:100%"}
  .box_title
    %h2= t("admin.ordergroups.groups_overview")
  .column_content
    #group_filter
      %form{:name=>"sform", :action=>"", :style=>"display:inline;"}
        %label{:for => 'ordergroup_name'} Suche in Name :
        = text_field_tag("query", params['query'], :size => 10 )
        
      = observe_field 'query',  :frequency => 2, |
        :before => "Element.show('loader')", |
        :success => "Element.hide('loader')", |
        :update => "ordergroups", |
        :url => admin_ordergroups_path, |
        :with => 'query', |
        :method => :get |
    #ordergroups
      = render :partial => "ordergroups"
  = link_to t("admin.ordergroups.new_ordergroup"), new_admin_ordergroup_path
