- title t("g.ordergroup") + " " + @ordergroup.name
.left_column{:style => "width:45em"}
  .box_title
    %h2= t("g.overview")
  .column_content
    = render :partial => 'shared/group', :locals => { :group => @ordergroup }
    %p
      = link_to t("admin.ordergroups.edit_ordergroup"), edit_admin_ordergroup_path(@ordergroup)
      |
      = link_to t("g.delete"), [:admin, @ordergroup], :confirm => t("g.are_you_sure"), :method => :delete
      |
      = link_to t("admin.groups.send_message"), :controller => 'messages', :action => 'group', :id => @ordergroup
      |
      = link_to t("admin.groups.edit_members"), memberships_admin_ordergroup_path(@ordergroup)
%p{:style => "clear:both"}= link_to t("admin.ordergroups.groups_overview"), admin_ordergroups_path
