#start_nav{:style => "float:right"}
  %h2= t("g.task_menu")
  %ul
    %li
      = t("g.actions")
      %ul
        %li= link_to t("g.create_new_task"), :action => "new"
    %li 
      = t("g.pages")
      %ul
        %li= link_to t("g.my_tasks"), user_tasks_path
        %li= link_to t("g.all_tasks"), tasks_path
        %li= link_to t("g.completed_tasks"), archive_tasks_path

    %li
      = t("g.group_tasks")
      %ul
        - for group in Workgroup.all
          %li= link_to group.name, :controller => 'tasks', :action => "workgroup", :id => group
