%p
  = t("g.items_found"):
  %b= @total

%p
  %table{:style => "width:100%"}
    %tr
      %td
        = pagination_links_remote @articles, :params => {:sort => params[:sort]}
      %td{:style => "text-align:right"}
        - if @total > 30
          = items_per_page :per_page_options => [30, 100, 500]

%table#articles_table.list.articles
  %thead
    %tr
      %th
      %th[sort_td_class_helper "name"]
        = sort_link_helper t("g.name"), "name"
      %th
      %th[sort_td_class_helper "category"]
        = sort_link_helper t("g.category"), "category"
      %th[sort_td_class_helper "unit"]
        = sort_link_helper t("g.unit"), "unit"
      %th[sort_td_class_helper "note"]
        = sort_link_helper t("g.note"), "note"
      %th{:style => "width: 4em;"}= t("g.size")
      %th{:style => "width: 4em;"}= t("g.price")
      %th{:style => "width: 3.5em;"}= t("g.tax")
      %th{:style => "width: 4em;"}= t("g.deposit")
      %th{:style => "width: 3em;"}
      
  %tbody#listbody
    
    - if @total > 0  
      - for @article in @articles
        %tr{ :class => cycle('even','odd') + row_classes(@article), :id => @article.id, :onclick => "checkRow('#{@article.id.to_s}')"}
          = render :partial => 'article_row'
      %tfoot
        %tr
          %td{:colspan => '11'}
            = check_box_tag :checkall, 1, false, :onclick => 'checkUncheckAll(this)'
            %select{:name => "selected_action"}
              %option{:value => '', :selected => 'selected'}= t("g.select_action") + " ..."
              %option{:value => "destroy", :onclick => "if (confirm(t('item.confirm_delete'))) { this.up('form').submit(); }; return false;"}= t("item.delete_item")
              %option{:value => "setNotAvailable", :onclick => "this.up('form').submit()"}= t("item.no_longer_available")
              %option{:value => "setAvailable", :onclick => "this.up('form').submit()"}= t("item.available")
              
            = hidden_field_tag 'supplier_id', @supplier.id

%p= pagination_links_remote @articles, :params => {:sort => params[:sort]}
= hidden_field_tag :per_page, params[:per_page]
