%tr.edit_inline{:id=> "edit_"+@article.id.to_s}
  %td{:colspan=>"10"}
    =h @article.name
    = t("item.used_in_order")
    = t("item.first_remove_article")
    = link_to t("g.remove"), :controller => 'orders', :action => 'edit', :id => @order
    oder
    = link_to_function t("g.cancel"), "Element.remove('edit_#{@article.id.to_s}')"
  
