%h2= t("g.direct_to")
%ul
  %li
    = t("g.foodcoop")
    %ul
      %li= link_to t("g.users"), foodcoop_users_path
      %li= link_to t("g.my_tasks"), user_tasks_path
      %li= link_to t("g.write_message"), :controller => "messages", :action => "new"
  
  // Orders
  - has_ordergroup = !@current_user.ordergroup.nil?
  - has_orders_role = @current_user.role_orders?
  - if has_ordergroup || has_orders_role
    %li
      = t("g.orders")
      %ul
        - if has_ordergroup
          %li= link_to t("orders.orders_overview"), :controller => "ordering"
        - if has_orders_role
          %li= link_to t("orders.stop_orders"), :controller => 'orders'
  // Articles
  - if @current_user.role_article_meta? || @current_user.role_suppliers?
    %li
      = t("items.item_management")
      %ul
        %li= link_to t("items.update_item"), suppliers_path
        %li= link_to t("items.store_mgt"), :controller => 'stockit'
        %li= link_to t("items.manage_suppliers"), suppliers_path
  
  // Finance
  - if @current_user.role_finance?
    %li
      = t("finance.financial")
      %ul
        %li= link_to t("g.update_account"), new_collection_finance_transactions_path
        %li= link_to t("g.settle_orders"), finance_root_path
  
  // Administration
  - if @current_user.role_admin?
    %li 
      = t("g.admin")
      %ul
        %li= link_to t("admin.groups.new_buyers_group"), new_admin_ordergroup_path
        %li= link_to t("admin.groups.new_member"), new_admin_user_path
