- form_for [:admin, @workgroup] do |@form|
  - render :layout => 'shared/group_form' do
    %div{:style => "float:right;width:40%"}
      %h3= t('admin.groups.group_has_access_to')
      %table
        %tr
          %td
            = @form.label :role_admin, t('g.admin')
          %td= @form.check_box :role_admin
        %tr
          %td
            = @form.label :role_finance, t('g.finance')
          %td= @form.check_box :role_finance
        %tr
          %td
            = @form.label :role_suppliers, t('suppliers.supplier_management')
          %td= @form.check_box :role_suppliers
        %tr
          %td
            = @form.label :role_article_meta, t('items.item_management')
          %td= @form.check_box :role_article_meta
        %tr
          %td
            = @form.label :role_orders, t('orders.order_management')
          %td= @form.check_box :role_orders

  %br{ :style => "clear:both" }
  = submit_tag t('g.submit')
  |
  = link_to t('g.cancel'), admin_workgroups_path
