%p
  %table{:style => "width:100%"}
    %tr
      %td
        = pagination_links_remote @workgroups, { :update => "workgroups" }
      %td{:style => "text-align:right"}
        - if @total.size > 20
          = items_per_page :update => "workgroups"
%table.list
  %thead
    %tr
      %th= t('g.name')
      %th= t('g.members')
      %th= t('admin.users.access_to')
      %th
  %tbody
    - for workgroup in @workgroups
      %tr{:class => cycle('even','odd', :name => 'groups')}
        %td= link_to workgroup.name, [:admin, workgroup]
        %td= workgroup.users.size
        %td= format_roles(workgroup)
        %td
          = link_to image_tag('b_users.png', :size => '16x16',  :border => "0", :alt => t('admin.groups.edit_membership')), memberships_admin_workgroup_path(workgroup)
          = link_to(image_tag('b_edit.png', :size => "16x16", :border => "0", :alt => t('admin.groups.edit_working_group')), edit_admin_workgroup_path(workgroup))
          = link_to(image_tag('b_drop.png', :size => "16x16", :border => "0", :alt => t('admin.groups.delete_group'), [:admin, workgroup], |
                         :confirm => t('admin.confirm_delete1') +' '+ workgroup.name +' '+ t('admin.comfirm_delete2'), :method => :delete) |
