- title= t("list_workgroups")

%p
  %i
    = t('admin.groups.intro1')
    = link_to t('admin.groups.new_working_group'), new_admin_workgroup_path
    = t('admin.groups.intro2')
    
%p
  = t('admin.groups.details1')
  %em= link_to t('g.ordergroup'), '/admin/ordergroups'
  = t('admin.groups.details2')
.left_column{:style => "width:100%"}
  .box_title
    %h2= t('admin.groups.group_overview')
  .column_content
    #group_filter
      %form{:name=>"sform", :action=>"", :style=>"display:inline;"}
        %label{:for => 'workgroup_name'}= t('admin.search_by_name') :
        = text_field_tag("query", params['query'], :size => 10 )
        
      = observe_field 'query',  :frequency => 2, |
        :before => "Element.show('loader')", |
        :success => "Element.hide('loader')", |
        :update => "workgroups", |
        :url => admin_workgroups_path, |
        :with => 'query', |
        :method => :get |
    #workgroups
      = render :partial => "workgroups"
  = link_to t('admin.groups.new_groups'), new_admin_workgroup_path
