%p
  %table{:style => "width:100%"}
    %tr
      %td
        = pagination_links_remote @users
      %td{:style => "text-align:right"}
        - if @total > 20
          = items_per_page
%table.list
  %thead
    %tr
      %th= t("g.login")
      %th= t("g.name")
      %th= t("g.email")
      %th= t("admin.users.access_to")
      %th= t("admin.user.last_login")
      %th{:style => "width:3em"}
  %tbody
    - for user in @users 

      %tr{:class => cycle('even','odd', :name => 'users')}
        %td= link_to user.nick, [:admin, user]
        %td=h user.name
        %td=h user.email
        %td=h format_roles(user)
        %td=h format_time(user.last_login)
        %td
          = link_to(image_tag('b_edit.png', :size => "16x16", :border => "0", :alt => t('admin.users.edit_user'), :title => t('admin.users.edit_user')), edit_admin_user_path(user))
          = link_to(image_tag('b_drop.png', :size => "16x16", :border => "0", :alt => t('admin.users.delete_user'), :title => t('admin.users.delete_user')), | 
            [:admin, user], |
            :confirm => t('admin.confirm_delete1') + user.name + t('admin.confirm_delete2'), :method => :delete) |
