<h1><%= t('admin.users.edit_user') %></h1>
<div id="newUser" style="width:65em">
  <div class="box_title"><h2><%= t('admin.users.edit_user') %></h2></div>
  <div class="column_content" id="userForm">
    <% form_for([:admin, @user]) do |@form| %>
      <%= render :partial => 'shared/user_form' %>
      <br style="clear:both" />
      <p>
      <%= submit_tag t('g.save')%> | <%= link_to t('g.cancel'), admin_users_path %></p>
    <% end %>
  </div>
</div>
