- title= t('admin.users.new_user')

#newUser
  .box_title
    %h2= t('admin.users.new_user')
  .column_content#userForm
    - form_for([:admin, @user]) do |@form|
      = render :partial => 'shared/user_form'
      %p{:style => "clear:both" }
      = submit_tag t('g.submit')
      |
      = link_to(t('g.cancel'), admin_users_path )
%p= link_to t('admin.users.users_overview'), admin_users_path
