%h1= t("foodcoop.users_title")
%p
  %i
    = t("foodcoop.write_message_to_foodcoop_members")
    %br/
    = t("foodcoop.in_order_to_show_contact_details_enable_in_profile1") 
    = link_to t("g.profile"), my_profile_path
    = t("foodcoop.in_order_to_show_contact_details_enable_in_profile2")

.left_column{:style => "width:100%"}
  .box_title
    %h2= t("foodcoop.summary") 
  .column_content
    - unless params[:sort_by_ordergroups]
      #user_filter{:style => "float:left; margin-right:2em;"}
        %form{:name=>"sform", :action=>"", :style=>"display:inline;"}
          %label{:for => 'article_name'}= t("g.search_by_name")
          = text_field_tag("query", params['query'], :size => 10 )
          
        = observe_field 'query',  :frequency => 2, |
          :before => "Element.show('loader')", |
          :success => "Element.hide('loader')", |
          :url => foodcoop_users_path, |
          :update => :users, |
          :with => 'query', |
          :method => :get |
    
    =_ t("foodcoop.sort_by_ordergroup")
    - form_tag(foodcoop_users_path, :method => "get", :style=>"display:inline;") do
      = check_box_tag :sort_by_ordergroups, 1, params[:sort_by_ordergroups], :onclick => "submit();"
    #users
      = render :partial => "users"
